* {
    background-color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   

.title h1 {
    background-color: #ff474c;
    color: white;
    text-align: center;
    font-size: 36px;
    padding: 25px;
    margin: 30px;
}

h1, li {
    text-align: center;
    list-style-type: none;
}
ul {
    padding: 0%;
}

li {
    font-size: 24px;
    margin-bottom: 50px;
}
a {
    text-decoration: none;
}
a:hover {
    color: #ff474c
}


